body{
	background-color: #333;
	color: #fff;
}

.navbar{
	border-bottom: #008ed6 3px solid;
	opacity: 0.8;
}

#home-section{
	background: url('../img/home.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 700px;}

.dark-overlay{
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 700px;
}
.home-inner{
	padding-top: 150px;
}


.card-form{
	opacity: 0.8;
}

#home-section .fa{
	color: #008ed6;
	background: #fff;
	padding: 4px;
	border-radius: 5px;
	font-size: 30px; 
}

#explore-section .fa{
	color: #fff;
	background:#333;
	border-radius: 5px;
	font-size: 30px;
	padding: 4px;
}

#create-section .fa{
	color: #333;
	background:#fff;
	border-radius: 5px;
	font-size: 30px;
	padding: 4px;
}

#share-section .fa{
	color: #fff;
	background:#333;
	border-radius: 5px;
	font-size: 30px;
	padding: 4px;
}